<!-- TODO: Add validations -->
<md-content md-theme="dark" flex layout="row" align-items="center">
    <md-input-container class="md-icon-float md-block">
        <md-icon class="material-icons">search</md-icon>
        <input ng-model="vm.searchClub" type="text" placeholder="Search">
    </md-input-container>
    <md-input-container class="md-icon-float md-block" hide-xs>
        <md-icon class="material-icons">flag</md-icon>
        <md-select ng-model="vm.searchCountry">
            <md-option ng-value=''><em>None</em></md-option>
            <md-option ng-repeat="cn in vm.countries" ng-value="cn.code">
              {{cn.display}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-icon-float md-block" hide-xs>
        <md-icon class="material-icons">rowing</md-icon>
        <md-select ng-model="vm.searchSport">
            <md-option ng-value=''><em>None</em></md-option>
            <md-option ng-repeat="sport in vm.sports" ng-value="sport.value">
              {{sport.display}}
            </md-option>
        </md-select>
    </md-input-container>
    <span flex></span>
    <md-button class="md-warn" ng-click="vm.searchClub = ''; vm.searchCountry = ''; vm.searchSport = ''">
        CLEAR
        <md-icon class="material-icons">clear</md-icon>
    </md-button>
</md-content>
<md-content md-theme="light" class="md-padding" layout="column">
    <div class="table-responsive-vertical md-whiteframe-z1">
      <table id="clubs" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Sport</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.clubsData | filter: vm.searchClub | filter:{country:vm.searchCountry} | filter:{sport:vm.searchSport}">
            <td data-title="Name">{{data.name}}</td>
            <td data-title="Country">{{(vm.countries | filter: {code: data.country})[0].display}}</td>
            <td data-title="City">{{data.city}}</td>
            <td data-title="Sport"><span class="md-caption">{{(vm.sports | filter: {id: data.sport})[0].display}}</span> <md-icon md-svg-src="{{(vm.sports | filter: {id: data.sport})[0].icon}}" style="font-size: 16px;"></md-icon></td>
            <td><i class="material-icons" style="color: {{data.color1}}">opacity</i><i class="material-icons" style="font-size: 16px; color: {{data.color2}}">opacity</i></td>
            <td><md-button class="md-raised md-primary" ng-click="">view</md-button></td>
        </tr>
        </tbody>
      </table>
    </div>
</md-content>
