<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="column">
    <div layout="row" layout-align="end center">
        <md-button class="md-icon-button" ui-sref="home.clubs"><i class="material-icons">keyboard_arrow_left</i></md-button>
        <div flex>{{vm.club.name}}</div>
        <span flex></span>
        <md-button class="md-accent md-raised">Edit</md-button>
    </div>
</md-content>
<md-content md-theme="default" class="md-padding" layout="column">
    <div id="club-details" layout="column" layout-padding ng-cloak>
        <md-chips layout="row" layout-align="end begin">
            <md-chip>{{(vm.sports | filter: {id: vm.club.sport})[0].display}} <md-icon md-svg-src="{{(vm.sports | filter: {id: vm.club.sport})[0].icon}}" style="font-size: 16px;"></md-icon></md-chip>
        </md-chips>
        <md-input-container ng-show="vm.club.name" class="md-icon-float md-block">
            <label>Name</label>
            <md-icon class="material-icons label">label</md-icon>
            <input ng-model="vm.club.name" disabled>
        </md-input-container>
        <md-input-container ng-show="vm.club.officialName" class="md-icon-float md-block">
            <label>Official Name</label>
            <md-icon class="material-icons bookmark_border">bookmark_border</md-icon>
            <input ng-model="vm.club.officialName" disabled>
        </md-input-container>
        <md-input-container ng-show="vm.club.city" class="md-icon-float md-block">
            <label>City</label>
            <md-icon class="material-icons location_city">location_city</md-icon>
            <input ng-model="vm.club.city" disabled>
        </md-input-container>
        <md-input-container ng-show="vm.club.country" class="md-icon-float md-block">
            <label>Country</label>
            <md-icon class="material-icons location_city">location_city</md-icon>
            <input disabled placeholder="{{(vm.countries | filter: {code: vm.club.country})[0].display}}">
        </md-input-container>
    </div>
</md-content>
